@import './variables';

.uijettos {
    &-select-list {
        font: 1rem/1.5 Verdana, Geneva, sans-serif;
        &__options-list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__option {
            box-sizing: border-box;
            padding: 0.5rem;
            margin: 0 0.5rem;
            border-radius: 4px;
            box-shadow: 0 0 2.1rem 0rem rgba(0, 0, 0, 0.1);
            background: #FFF;
            color: #999;
            cursor: pointer;
            transition: background-color 500ms ease-out, box-shadow 300ms ease-in;
            &:hover {
                box-shadow: 0 0 2.1rem 0rem rgba(0, 0, 0, 0.1), 0 0 .8rem 0 transparentize($uijettosGreenLight, 0.8);
            }
            &--selected {
                box-shadow: 0 0.2rem 0.5rem 0rem rgba(0,0,0,0.2),  0 0 .5rem 0 $uijettosGreenLight, 0 0 0 0.2rem lighten($uijettosGreenDark, 5%);
                &:hover {
                    box-shadow: 0 0.2rem 0.5rem 0rem rgba(0,0,0,0.2),  0 0 .5rem 0 $uijettosGreenLight, 0 0 0 0.2rem lighten($uijettosGreenDark, 5%);
                }
            }
        }
    }
}