.uijettos {
    &-select-list {
        &__options-list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__option {
            font-family: 'Lily Script One', cursive;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 4rem;
            height: 4rem;
            padding: 1rem;
            margin: 0 0.5rem;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 100%;
            transform: scale(1);
            box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0,0,0,0.15);
            // background: rgb(255, 92, 92);
            background: rgb(255, 238, 238);
            color: rgb(196, 152, 152);
            cursor: pointer;
            transition: background-color 500ms ease-out, box-shadow 500ms ease-out, transform 500ms ease-out, color 500ms ease-out, text-shadow 500ms ease-out;
            text-shadow: 0px 0px 2px #FFF;
            &:not(&--selected):hover {
                transform: scale(1.05);
                box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.1);
            }
            &:not(&--selected) {
                &:active {
                    transition: background-color 0 ease-out, box-shadow 0 ease-out, transform 0 ease-out, color 0 ease-out, text-shadow 0 ease-out;
                    transform: scale(1.02);
                    box-shadow: 0.15rem 0.15rem 0.8rem 0 rgba(0,0,0,0.08);
                }
                
            }
            &--selected {
                color: rgb(122, 192, 149);
                text-shadow: 0px 0px 5px 20px rgb(255, 255, 255);
                transform: scale(1.05);
                box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.1);
                background-color: rgb(220, 255, 226);
            }
        }
    }
}